* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Arial",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  /* display: flex; */
  /* align-items: center; */
}

a {
  color: black;
  text-decoration: none;
}

.active-navbar,
.active-navbar svg {
  color: white;
}

.active-navbar li {
  background: #008c8c;
}

.modal-form {
  background-color: white;
  padding: 2rem;
  height: 80%;
  width: 100%;
  display: block;
  overflow: auto;
}

.logout-form {
  margin-left: auto;
}

/* .flex {
  display: flex !important;
} */
